html {
    font-size: 115%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family:
        ui-serif, Georgia, Cambria, "Times New Roman", Times, serif,
        "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
        "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a {
    text-decoration-skip-ink: auto;
    color: var(--brand-primary);
    text-decoration-thickness: 0.065em;
    text-underline-offset: 3px;
}

a:hover {
    color: var(--brand-primary-hover);
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

:target {
    scroll-margin-block: 5ex;
}

ul,
ol {
    list-style: none;
}

nav > :is(ul, ol) {
    margin: 0;
    padding: 0;
}

body {
    padding-inline: calc(var(--spacing) * 2.5);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
    max-width: 40em;
    margin-inline: auto;
}

h1 {
    letter-spacing: -0.02em;
}
h2 {
    letter-spacing: -0.01em;
}

::selection {
    color: var(--bg-primary);
    background-color: var(--text-brand-selection);
}

@media (min-width: 43em) {
    html {
        font-size: 145%;
    }
    body {
        padding-inline: calc(var(--spacing) * 5);
    }
}

@media (min-width: 85em) {
    html {
        font-size: 160%;
    }
}
