:root {
    --text-primary: hsl(0 0 0);

    --brand-primary: hsl(20 70% 45%);
    --brand-primary-hover: hsl(20 75% 50%);

    --text-brand-selection: hsl(20 70% 45%);

    --bg-primary: hsl(0 0% 98%);

    --bg-secondary: hsl(20 10% 92%);

    --spacing: 0.25rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: #f7f7f7;

        --brand-primary: hsl(20 90% 76%);
        --brand-primary-hover: hsl(20 90% 82%);

        --text-brand-selection: hsl(20 90% 76%);

        --bg-primary: hsl(0 0% 10%);

        --bg-secondary: hsl(20 12% 15%);
    }
}
