:root {
    --text-primary: #181d27;
    --text-secondary: #414651;

    --text-brand-primary: hsl(353 79% 46%);
    --text-brand-primary-hover: hsl(353 79% 46%);

    --bg-primary: white;

    --bg-secondary: #181d27;
    --bg-secondary-solid: #535862;

    --spacing: 0.25rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: #f7f7f7;
        --text-secondary: #cecfd2;

        --text-brand-primary: hsl(353 100% 70%);
        --text-brand-primary-hover: hsl(353 90% 74%);

        --bg-primary: #0c0e12;

        --bg-secondary: #13161b;
        --bg-secondary-solid: #61656c;
    }
}
